*{
    margin: 0;
    padding: 0;
}
body{
        font-family: "Poppins", sans-serif;
      }
.cabeçalho {
    background-color: #C67C7C;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabeçalho-imagem{
width: 40%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabeçalho-div{
    display: flex;
}
.cabeçalho-título{
    padding: 20px 0;
    color:white;
}
.o-clube-imagem{
    width: 40%;
}
.o-clube{
    background-image: linear-gradient(#CCC2C0,#20221F);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.o-clube-titulo{
    padding-top: 24px 0; 
}
.o-clube-texto-um{
    padding: 24px 0;
    text-align: justify;
}
.o-clube-texto-dois{
    padding: 24px 0;
    text-align: justify;
}
.o-clube-texto-três{
    padding: 24px 0;
    text-align: justify;
}
.o-clube-texto-quatro{
    padding: 24px 0;
    text-align: justify;
}
.o-clube-div-conteudo{
    width: 35%;
}
.sessao-de-fotos-imagem-um{
    width: 120px;
}
.sessao-de-fotos-icones{
    width: 24px;
}
.sessao-de-fotos-div{
    text-align: center;
    padding: 16px 0;
}
.pets{
    padding: 24px 0;
}
.pets-imagem{
    width: 120px;
}

.pets-icone{
    width: 24px;
    padding: 4px 8px;
}

.pets-div{
    text-align: center;
    padding: 16px 0;
}

.pets-titulo{
    text-align: center;
    padding: 50px 0;
}

.pets-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}