*{
    margin: 0;
    padding: 0;
}
.cabeçalho {
    background-color: #C67C7C;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabeçalho-imagem{
width: 60%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabeçalho-div{
    display: flex;
}
.cabeçalho-título{
    padding: 20px 0;
    color:white;
}